* {
    box-sizing: border-box;
}

:root {
    --mainFont: "Roboto Condensed", sans-serif;
    --borderColor: #ccc;
    --colorWhite: #fff;
    --backgroundBlockCode: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
    font-family: var(--mainFont);
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    background-color: #ebebeb;
}

.container {
    max-width: 100%;
}

.section-title {
    font-family: var(--mainFont);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: block;
    padding: 15px 5px;
    background: linear-gradient(0deg,rgba(235, 235, 235, 1) 0%, rgba(112, 158, 246, 1) 100%);
    color: #07015b;
    text-shadow: 3px 3px 3px #fff;
}

.flexbox {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-height: 500px;
}

.card__title {
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(90deg,rgba(45, 147, 87, 1) 0%, rgba(235, 235, 235, 1) 100%);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.card__img {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.card__note {
    border-radius: 5px;
    padding: 10px 5px;
}

.card__code {
    position: relative;
    background-color: #bfbfbf;
    border-radius: 5px;
    padding: 10px 5px 10px 30px;
    color: #3d3d3d;
    font-style: italic;
    font-size: 14px;
    box-shadow: 5px 5px 5px -4px #6b6b6b inset;
}

.card__code::before {
    position: absolute;
    content: "$: ";
    inset-inline-start: 10px;
    color: #08007c;
}

.card__link {
    text-decoration: none;
    cursor: pointer;
}

.commit {
    font-size: 14px;
    font-style: italic;
    color: rgb(0, 85, 0);
}