* {
    box-sizing: border-box;
}

:root {
    --mainFont: "Roboto Condensed", sans-serif;
    --borderColor: #ccc;
    --colorWhite: #fff;
    --backgroundBlockCode: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    padding: 10px;
    margin: 0;
    font-family: var(--mainFont);
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    max-width: 600px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card {
    background-color: #3d3d3d;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card__title {
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 700;
    background-color: beige;
    border-radius: 5px;
    padding: 5px;
    color: rgb(89, 90, 43);
}

.card__img {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.card__note {
    background-color: beige;
    border-radius: 5px;
    padding: 10px 5px;
}

.card__code {
    background-color: #e2e2e2;
    border-radius: 5px;
    padding: 10px 5px;
    color: #3d3d3d;
    font-style: italic;
    font-size: 14px;
}